/* Default styles */

/* Mobile devices (up to 767px) */
@media (max-width: 767px) {
  /* Center-align the logo */
  .emojilogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .app-name {
    display: flex;

    align-items: center;
    font-size: 60px;
  }

  /* .apos {
    font-weight: 900;
  } */

  /* .suitcase .island {
    display: inline;
    font-size: 100px;
  } */

  .suitcase {
    font-size: 50px;
    margin-left: 10px;
  }

  .island {
    font-size: 50px;
    margin-right: 15px;
  }

  /* Stack elements vertically */
  .add-form {
    display: flex;
    flex-direction: column;
    text-align: center; /* Center items horizontally */
  }

  h3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  /* Add some spacing between the elements */
  .add-form h3,
  .add-form select,
  .add-form input,
  .add-form button {
    margin: 5px 0; /* Adjust spacing as needed */
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }

  .actions button {
    margin: 10px 0; /* Adjust spacing as needed */
  }
}
